<div class="row" ng-hide="contact._id">
  <div class="col-md-6">
      <h2>Create A New Group</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>Group Name</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.firstName" required> 
    </p>
    <p>
      <label>Member 1 Name</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.lastName" required> 
    </p>
    <p>
      <label>Member 2 Name</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.email" required> 
    </p>
    <p>
      <label>Member 3 Name</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.phone.mobile"> 
    </p>
    <p>
      <label>Member 4 Name</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.phone.work"> 
    </p>
    <p>
      <label>Topic of Research</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.address"> 
    </p>
    <p>
      <label>Project Title</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.twitter"> 
    </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveContact(contact)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div>