<div class="row" ng-hide="contact._id">
  <div class="col-md-6">
      <h2>Create A New Group</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>Group Name*</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.GroupName" required> 
    </p>
    <p>
      <label>Member 1 Name*</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.member1" required> 
    </p>
    <p>
      <label>Member 2 Name*</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.member2" required> 
    </p>
    <p>
      <label>Member 3 Name</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.member3"> 
    </p>
    <p>
      <label>Member 4 Name</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.member4"> 
    </p>
    <p>
      <label>Topic of Research*</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.topic" required> 
    </p>
    <p>
      <label>Project Title</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.title"> 
    </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveContact(contact)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Cancel</button>
    </p>
  </div>
</div>