<div class = "row">
  <div class="col-md-6">
    <img src="odu_logo.gif" alt="Lion Logo" style="width:152px;height:114px;">
    <h2>
      Groups
    </h2>
  </div>
  <div class="col-md-3">
    <a style="margin-top:20px" class="btn btn-default" href="#/new/contact">New Group</a>
  </div>
  <div class="col-md-2">
	<a style="margin-top:20px" class="btn btn-default" href="#/new/progress">New Progress Report</a>
  </div>
  <div class="col-md-1">
  </div>
</div>
<div class="container">
   <table class="table table-hover"> 
    <tbody>
      <tr ng-repeat="contact in contacts | orderBy:'GroupName'" style="cursor:pointer">
        <td>
          <a ng-href="#/contact/{{contact._id}}">{{ contact.GroupName }}</a>
        </td>
      </tr>
    </tbody>
  </table> 
  <h3> Progress Reports </h3>
   <table class="table table-hover">
    <tbody>
      <tr ng-repeat="progressReport in progressReports | orderBy:'dateMade'" style="cursor:pointer">
        <td>
          <a ng-href="#/progress/{{progressReport._id}}">Group: &nbsp {{ progressReport.GroupName }} &nbsp &nbsp &nbsp &nbsp Date Created: {{progressReport.dateMade}} </a>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <br> 
  <style>
    p  {
      border-style: solid;
      border-bottom: thick dotted #ff0000;
    }
</style>
</div>




