<div class="row" ng-hide="progress._id">
  <div class="col-md-6">
      <h2>Create a Daily Progress Report</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>Group Name*</label> 
      <input id="name" class="form-control" type="text"datetime="yyyy-MM-dd" ng-model="progressReport.GroupName" required> 
    </p>
    <p>
      <label>Date*</label> 
      <input id="name" class="form-control" type="text" ng-model="progressReport.dateMade" required> 
    </p>
    <p>
      <label>Key Item 1 Accomplished*</label> 
      <input id="name" class="form-control" type="text" ng-model="progressReport.key1" required> 
    </p>
    <p>
      <label>Key Item 2 Accomplished</label> 
      <input id="name" class="form-control" type="text" ng-model="progressReport.key2"> 
    </p>
    <p>
      <label>Key Item 3 Accomplished</label> 
      <input id="name" class="form-control" type="text" ng-model="progressReport.key3"> 
    </p>
    <p>
      <label>Goals for Tomorrow*</label> 
      <input id="name" class="form-control" type="text" ng-model="progressReport.tomorrow" required> 
    </p>
    <p>
      <label>Current Challenge Focus</label> 
      <input id="name" class="form-control" type="text" ng-model="progressReport.challenge"> 
    </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveProgress(progressReport)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Cancel</button>
    </p>
  </div>
</div>